*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url(images/pexels-rodrigo-souza-2531709.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
}

.logo{
    width: 120px;
    padding: 20px 0;
    cursor: pointer;
}

.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}

.content h1{
    font-size: 64px;
    font-weight: 600;
}

.content h1 span{
    color: #661a07;
}

.content button{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.content button img{
    width: 15px;
    margin-left: 10px;
}

.launch-time{
    display: flex;
}

.launch-time div{
    flex-basis: 1000px;
}

.launch-time div{
    font-size: 30px;
    margin-bottom: -14px;
}

.rocket{
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 2s linear infinite;
}

@keyframes rocket {
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}

.footer{
    font-size: 30px;
    margin-top: 100px;
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: aliceblue;
}

.footer a:hover{
    color: aqua;
}

.footer img{
    width: 35px;
    margin-left: 10px;
}

/*MEDIA QUERIES FOR MOBILE SCREENS*/

@media screen and (max-width: 1024px){
    .container{
        max-width: 100vw;
        max-height: 100vh;
    }

    .logo{
        width: 100px;
    }

    .content h1{
        font-size: 58px;
    }

    .content button{
        padding: 10px 20px;
    }

    .content button img{
        width: 12px;
    }

    .rocket{
        width: 180px;
        margin-right: 20px;  
    }

    .footer{
        font-size: 28px;
    }
}


@media screen and (max-width: 764px){
    .content{
        text-align: center;
    }

    .content h1{
        font-size: 50px;
    }

    .rocket{
        width: 120px;
        
    }
}

@media screen and (max-width: 576px){
    .content{
        text-align: center;
    }

    .content h1{
        font-size: 45px;
    }

    .launch-time div{
        font-size: 24px;
    }

    .footer{
        font-size: 22px;
    }

    .footer img{
        width: 22px;
    }

    .rocket{
        width: 100px;
    }
}

@media screen and (max-width: 450px){
    .content{
        text-align: center;
    }

    .content h1{
        font-size: 35px;
    }

    .launch-time div{
        font-size: 18px;
    }

    .rocket{
        width: 80px;
    }
}

@media screen and (max-width: 375px){
    .content{
        text-align: center;
    }

    .content h1{
        font-size: 30px;
    }

    .launch-time div{
        font-size: 12px;
    }

    .footer{
        font-size: 20px;
    }

    .footer img{
        width: 20px;
    }

    .rocket{
        width: 60px;
    }
}
